body {
  background-image: url(record.png);
  background-repeat: repeat;
  background-position: top;
  margin: 0;
  font-family: sans-serif;
}

main {
  background-color: #cbcacf;
  padding: 1em;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: #191440;
}

.disc {
  border: 3px;
  border-style: solid;
  border-color: #5c50b7;
}

.title {
  text-align: center;
  color: white;
  background-color: #191440;
}

.subtitle {
  background-color: #5c50b7;
  color: white;
}

/*FLEXBOX*/
.container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
